{{!-- main.hbs --}}

<div class="container">
    <h3 class="fs-2 text-primary my-4 py-4"> Vistas de productos</h3>

    <form action="/productos" method="post">
        <div class="d-grid gap-2 col-6 mx-auto my-4 py-4">
            <button type="submit" class="btn btn-outline-success btn-lg">Cargar producto</button>
        </div>
    </form>

    {{#if isEmpty}}
        <p class="p-3 mb-2 bg-warning text-dark">No se encontraron productos.</p>
    {{else}}
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Foto</th>
                </tr>
            </thead>
            <tbody>
                {{#each productos}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>${{this.price}}</td>
                    <td><img src="{{this.thumbnail}}" alt="{{this.title}}" width="32" height="32" /></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}
</div>